@import "./variables";
@import "./classes";

body {
  background-color: $primary;
  height: 100vh;
  @extend .center;
}

.box {
  height: 100px;
  width: 100px;
  background-color: aqua;
  @extend .center;
  .inner-box {
    height: 50%;
    width: 50%;
    background-color: blueviolet;
  }
}
